// flat color
$midnight-blue: #2c3e50
$green-sea: #16a085

// social color
$linkelin: #0077b5
$facebook: #3C5899
$twitter: #5ea9dd

// Language color
$ruby: #E14E40
$javascript: #D6BA32
$php: #6B7EB9
$git: #F05033
$sql: #336791
$html: #F16528
$css: #28A9E0
$xml: #28292B
$mongodb: #4F9546
