// flat color
$midnight-blue: #2c3e50
$green-sea: #16a085

// social color
$linkelin: #0077b5
$facebook: #3C5899
$twitter: #5ea9dd

// application
$portrait: 150px
$half-portrait: $portrait / 2 + 30px
$margin-menu: 50px
$margin-whoiam: $margin-menu + $half-portrait
