@import settings
@import mixin
@import variable

footer
  margin-top: 0 !important
  h2
    color: $white
    text-transform: uppercase
  margin-top: 15px
  border-top: 10px lighten($primary-color, 20%) solid
  background-color: $primary-color
  padding-top: 10px
  padding-bottom: 10px
  a
    color: lighten($primary-color, 90%)
  a:hover
    color: lighten($primary-color, 30%)

.size-72
  font-size: 72px

.top-bar-right a:hover
  background-color: transparentize($primary-color, 0.5)
  color: $white

.active
  color: $white
  background-color: $primary-color

section, footer
  min-height: 900px
  padding-top: 50px
  padding-bottom: 20px

section:first-child
  padding-top: 80px

.message
  min-height: 100px
  padding-top: 80px
  
section
  border-top: 5px dotted $primary-color

header
  position: fixed
  top: 0px
  width: 100%
  z-index: 1000
  border-bottom: 10px lighten($primary-color, 20%) solid

.vertical-middle
  display: block
  position: relative
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
