@import settings
@import mixin

.footer
  border-top: 1px solid #e7e7e7
  padding-top: 10px
  margin-top: 20px

/*.home__article--cercle
  border-radius: 50%
  width: 100px
  height: 100px
  overflow: hidden
  border: 5px solid #e7e7e7
  +transition(border-color, 0.5s)
  &:hover
    border-color: darken(#e7e7e7, 20%)
  img
    //max-width: 70%
    height: 70%
    margin: 15% auto

hr
  border-style: dashed !important
