@import settings
@import mixin
@import variable

.footer
  padding-top: 10px
  margin-top: 20px

.size-72
  font-size: 72px

.top-bar-right a:hover
  background-color: transparentize($primary-color, 0.5)
  color: $white


.active
  color: $white
  background-color: $primary-color
