@import variable
@import settings
@import mixin

.skills-icons
  margin: 10px auto
  width: 150px
  height: 100px
  font-size: 1.5rem
  color: $white
  padding-top: 15px

.skills
  overflow: hidden
  padding-bottom: 15px
  padding-top: 15px
  .columns
    +transform(rotate(-2deg))
    +transition(transform 0.3s)
    -webkit-transition: -webkit-transform 0.3s
    position: relative
    z-index: 1
  .columns:nth-child(even)
    +transform(rotate(3deg))
    position: relative
    z-index: 2
  .columns:nth-child(3n)
    +transform(none)
    position: relative
    top: -5px
    z-index: 3

  .columns:nth-child(5n)
    +transform(rotate(5deg))
    position: relative
    right: 5px
    z-index: 5

  .columns:nth-child(8n)
    +transform(rotate(2deg))
    position: relative
    top: 8px
    right: 5px
    z-index: 8

  .columns:nth-child(11n)
    position: relative
    top: 3px
    left: -5px
    z-index: 11

  .columns:hover
    +transform(scale(1.25))
    position: relative
    z-index: 12
