.top-bar-left
  ul.dropdown.menu data-dropdown-menu="" 
    li.menu-text = link_to "Vincent Cornière", root_path
    li = link_to "Accueil", root_path
    /li = link_to "Info", info_index_path
    /li
      /a href="#"  Projets
    /li = link_to "Contact", contact_index_path
.top-bar-right
  ul.menu
    /- if user_signed_in?
    /li = link_to "Se déconnecter", destroy_user_session_path, :method=>'delete'
    /- else
    /li = link_to "S'incrire", new_user_registration_path
    /li = link_to("Se connecter", new_user_session_path
    
