<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <meta name="viewport" content="width=device-width"/>
 </head>
  <body style="width: 100%;">
    <table border="0" style="width:100%; border-collapse: collapse;">
      <tr style="height: 40px;background-color: #2980b9;text-align: center;">
        <td>
          <%= link_to "Vincent Cornière", "http://vincent-corniere.fr", style: "text-decoration: none; text-transform: uppercase; color: #fefefe;" %>
        </td>
      </tr>
      <tr style="background-color: #ECF0F1;">
        <td>
          <table border="0" style="width: 90%;margin: 10px auto;border-collapse: collapse;">
            <tr>
              <td style="background-color: #fefefe;box-shadow: 1px 1px 10px 1px #9b9b9b;padding: 10px 10px;">
                <%= yield %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr style="height: 40px;text-align: center;background-color: #ECF0F1;">
        <td>
          <table border="0" style="width: 90%;margin: 10px auto;border-collapse: collapse;">
            <tr>
              <td>
                <small>
                  Cet email est envoyer automatiquement depuis le
                  site vincent-corniere.fr. Merci de ne pas répondre à ce message.
                </small>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
